#furigana-inserter-popup {
}

#furigana-inserter-iframe {
}

/*#furigana-inserter-auto-popup {
    -moz-border-radius: 5px;
    -moz-user-select: text;
    -moz-user-focus: normal;
    border: 1px solid #D0D0D0 !important;
}

#furigana-inserter-auto-div {
    font-size: 16px;
    background: #FFFFBF;
}*/

#furigana-inserter-toolbarbutton {
    list-style-image: url("chrome://furiganainserter/skin/fu_big.png");
}

toolbar[iconsize="small"] #furigana-inserter-toolbarbutton {
    list-style-image: url("chrome://furiganainserter/skin/fu_small.png");
}

#fi-toolbar-close {
    list-style-image: url("chrome://furiganainserter/skin/cross.png");
}

#fi-toolbar-search {
	list-style-image: url("chrome://furiganainserter/skin/zoom.png");
}
